@import "../../colors.scss";
.page-link {
  color: $gray;
  text-transform: uppercase;
  font-weight: 500;
  border-left: 0;

}
.page-item:first-of-type .page-link{
    border-left: 1px solid $light-gray;
    border-right: 2px solid $light-gray !important;
}
.page-link{
  cursor: pointer;
}

.picked{
  background-color: $light-gray;
}

.pagination {
  /* we want the alphapicker to break to a new line when there is no space */
  flex-wrap: wrap;
}