@import "../../colors.scss";
h4 {
  color: $light-blue;
  font-weight: 600;
  & > small.text-muted {
    font-weight: 600;
  }
}
.badge {
  color: white;
  padding: 0.3rem;
  width: 6rem;
  text-transform: capitalize;
}

.active {
  background-color: $green;
}

.canceled {
  background-color: red;
}

.producsts {
  text-transform: capitalize;
  list-style-type: none;
  margin: 1rem 0 1rem 0;
  padding: 0;
  font-weight: 600;
}

.bt-foward {
  background-color: unset;
  border: unset;
  padding: 1rem;
  border-left: 1px solid $light-gray;
  color: $gray;
}

.client-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
